* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  width: 100%;
}

.MuiContainer-root {
  background-color: white;
  width: 80% !important;
  /* height: 80%; */
  border-radius: 5px;
  border: 1px solid black;
  align-items: center;
  /* margin-bottom: 10px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MuiContainer-root .MuiButton-fullWidth {
  margin-top: 10px;
}

.MuiContainer-root .MuiButton-containedPrimary {
  background-color: #1f32a0;
  font-weight: bolder;
  text-transform: capitalize;
}

.dashboard {
  width: 100%;
}

.data {
  align-content: center;
}

.App {
  text-align: center;
  /* padding: 20px; */
}

.data table {
  width: 95% !important;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid black;
  /* padding: 10px; */
  background: #f3f2f8;
  overflow: scroll;
  /* height: 400px; */
  color: #000000;
}
table tr {
  display: flex;
  justify-content: space-between;
}

table td {
  text-align: right;
  padding: 0.5rem;
}

table tr:nth-of-type(odd) {
  background: #f3f2f8;
}
table tr:nth-of-type(even) {
  background: #e5e3ee;
}

.modal {
  border-radius: 2px;
  margin-top: 10px;
}

.modal p {
  padding: 5px;
  color: red;
  letter-spacing: 0.01rem;
}

.tableBody {
  color: white;
}

.container--3 {
  width: 95%;
  margin: auto;
  background-color: transparent !important;
}

.container--3 h2 {
  font-family: sans-serif;
  font-weight: bolder;
}

.container--2 a {
  color: rgb(221, 203, 203);
  opacity: 0.5;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container--2 a:hover {
  opacity: 0.8;
}

.active {
  opacity: 1 !important;
}

.container--3 .header {
  margin-top: 10px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  width: 95%;
  margin: auto;
  /* padding: 10px; */
  align-items: center;
  letter-spacing: 0.2rem;
}

.container--2 {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 8vh;
  justify-content: space-between;
  /* margin: auto; */
  /* padding: 10px; */
  /* border-radius: 5px; */
  align-items: center;
  padding: 20px;
}

.container--2 h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.2rem;
  font-size: xx-large;
  color: rgb(255, 255, 255);
}

.container--2 .MuiSvgIcon-root {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255) !important;
  border-radius: 0.25rem;
  color: black;
}

.container--2 .MuiSvgIcon-root:hover {
  opacity: 1;
}

.container--3 .MuiTableContainer-root {
  width: 95% !important;
  padding: 10px 0px 10px 0;
  height: 70vh;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background: white;
}

.MuiTableContainer-root .MuiTable-root {
  margin: auto !important;
  height: 62vh;
  background-color: transparent;
}

.MuiTableContainer-root .MuiTableRow-root {
  background-color: transparent !important;
}

.data .header {
  margin: auto;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.data .header button {
  padding: 5px;
  border-radius: 5px;
  background-color: #e5e3ee;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.data .header .svg-inline--fa.fa-lg {
  color: black;
}

.bookList {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  /* padding: 20px; */
}

.bookList .book {
  cursor: all-scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 25vh;
}

.bookList .book .book_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.bookList .book .book_right img {
  height: 23vh;
  margin-left: 20px;
}

.bookList .book h2,
.bookList .book .h5 {
  margin-right: 20px;
  text-align: center;
}

.bookList .book .book_left button {
  display: inline-block;
  background: hsl(205, 78%, 60%);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.loading {
  width: 80%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .container--2 h1 {
    font-size: large;
  }
  .bookList .book h3 {
    font-size: medium;
  }
  .bookList .book .book_left button {
    padding: 2px;
    font-size: 0.4rem;
    margin-right: 0.1rem;
  }
  .bookList .book .book_right img {
    height: 23vh;
    margin-left: 0.1rem;
  }
  .data table {
    font-size: xx-small;
  }
}
